
    <div class="container">
        <h1>Product List</h1>
        <a href="{{ url_for('.create_product') }}">Create New Product</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Feature Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.feature_name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.fabric_cost }}</td>
                    <td>{{ product.fabric }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

