

    <span class="light_color_set hoverable"><a href="/fabric/{{ fabric.id }}" >{{ fabric.name }}</a></span>
    <span class="light_color_set hoverable"><a href=""><img src="{{ fabric.picture }}" alt="{{ fabric.picture }}"/></a></span>
    <span class="light_color_set hoverable">{{ fabric.amount }}</span>
    <span class="light_color_set hoverable"><a href="/fabric_products/{{ fabric.id }}">{{ fabric.product_count }}</a></span>
    <span class="light_color_set hoverable {{ '' if fabric.speed else 'red_flag' }} ">{{ fabric.speed if fabric.speed else 0 }}</span>
    <span class="light_color_set hoverable  {{ '' if fabric.stock else 'red_flag' }} ">{{ fabric.stock if fabric.stock else 0}}</span>
    <span class="light_color_set hoverable"><a href="fabric_shipment/{{ fabric.id }}">{{ fabric.closest_supply }}</a></span>

